@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-card {
  transition:
    transform,
    opacity,
    background,
    0.25s ease;
}
@layer base {
  * {
    @apply border-foreground/20;
    @apply text-default-foreground;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-out {
  animation: animateOut 0.3s ease 0.15s both;
}

@keyframes animateOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.ReactCollapse--collapse {
  transition: height 300ms;
}
